/* styles for guac's genesis revamp, began 08/14/2026 */

/* fine... i guess i'll try responsive web design... */

* {
    --follower-size: 50px;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: repeating-linear-gradient(0deg, rgb(35, 35, 35) 0%, rgb(72, 47, 54) 2%, rgb(42, 42, 42) 4%);
    filter: blur(8px) hue-rotate(18deg);
}

#angel-unwound {
    position: fixed;
    bottom: 0px;
    left: 0;
    filter: drop-shadow(20px 0 4px rgb(149, 149, 149));
    z-index: 2;
}

#genesis-logo {
    position: fixed;
    z-index: 1;
    left: 24%;
    top: 10%;
}

#enter {
    position: fixed; 
    display: inline-flex;
    z-index: 3;
    right: 30%;
    top: 65%;
    background: rgba(0, 0, 0, 0.4);
    border: solid black 1px;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 24em;
    height: 15%;
    transform: skew(-30deg) rotateZ(-15deg) rotateY(-20deg);
    z-index: 5;
}

#enter p {
    font-size: 5em;
    color: white;
    font-family: monospace;
    padding: 5%;
    text-align: center;
    height: fit-content;
    filter: drop-shadow(0 0 0.07em white);
}

#hc-flag {
    position: fixed;
    top: 0;
    left: 2%;
    transform-origin: top left;
    transform: scale(0.4);
}

@keyframes follower-effect {
    from {
        backdrop-filter: brightness(70%);
    }
    to {
        backdrop-filter: brightness(30%);
    }
}

#follower {
    z-index: 30;
    position: fixed;
    animation: 3s ease-in infinite alternate follower-effect;
    background: radial-gradient(circle, rgba(20, 20, 20, 0.1) 0%, transparent 80%);
    mask: radial-gradient(circle, black 40%, transparent 70%);
    border-radius: 100%;
    width: var(--follower-size);
    height: var(--follower-size);
    transform: translateX(calc(var(--follower-size) * -0.5)) translateY(calc(var(--follower-size) * -0.5));
    pointer-events: none;
}
#footer {
    position: fixed;
    bottom: 2%;
    z-index: 5;
    right: 15%;
}
#footer p {
    font-size: 3em;
    color: white;
    filter: drop-shadow(0 0 0.07em white);
    font-style: italic;
    border: 3px double white;
    padding: 0.2em;
    transition: border-radius 1s;
    backdrop-filter: sepia(50%);
}
#footer p a {
    color: white;
}
#footer p:hover {
    border-radius: 5%;
}

.blinkeye {
    position: fixed;
    z-index: 4;
    opacity: 0;
    transition: 
        opacity 2s,
        filter 800ms;
}

.blinkeye.trigger {
    opacity: 1;
}

.blinkeye:hover {
    filter: invert(1);
}

@media only screen and (max-width: 600px) {
    /* phones, etc. */
    body {
        background-color: black;
    }
    #angel-unwound {
        position: absolute;
        width: 100vw;
        bottom: 0;
        z-index: 0;
    }
    #follower {
        display: none;
    }
    #hc-flag {
        transform-origin: top left;
        transform: scale(0.2);
    }
    #genesis-logo {
        left: 0 ;
        top: 20vw;
        width: 100% ;
    }
    #enter {
        font-size: 3em;
        width: 8ch;
        height: 5ch;
        left: 50vw;
        top: 30vh;
        transform: translateX(-50%) skew(-30deg) rotateZ(-15deg) rotateY(-20deg);
    }
    #enter p {
        font-size: inherit;
    }
    #footer {
        left: 30vw;
        width: 40vw;
    }
    #footer p {
        font-size: 1em;
        text-align: center;
        background: rgba(0,0,0,0.3);
    }
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {
    * {
        --follower-size: 100px;
    }
}

@media only screen and (min-width: 1440px) {

}

@media only screen and (min-width: 1920px) {
    
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation: none ;
        transition: none ;
    }
}