/* styles for guac's genesis revamp, began 08/14/2026 */

/* font imports */
@import urL('https://fonts.googleapis.com/css2?family=Handjet:wght,ELSH@100..900,2&display=swap');
@font-face {
    font-family: W95;
    src: url("./assets/W95FA.otf") format("opentype");
}
/* fine... i guess i'll try responsive web design... */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    /* CSS variables! */
    
    /* tab backgrounds - normal, minimized, and active */
    --tab-normal: rgba(240, 240, 240, 0.5);
    --tab-minimized: rgba(240, 240, 240, 0.3);
    --tab-active: rgba(255, 255, 255, 0.85);
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
        transition: none !important;
    }
}

html, body {
    height: 100%;
}

body {
    background: black;
    overflow: hidden;
}

#main-body {
    position: relative;
    z-index: 1;
    min-width: 100%;
    height: 100%;
}

#main-body::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: repeating-linear-gradient(0deg, black, white, black 2%);
    mask: url("assets/noiseTexture.png") repeat luminance;
}

#errordiv {
    z-index: 100;
    position: fixed;
    top: 20%;
    left: 15%;
    width: 70%;
    height: 60%;
    background: rgba(200, 0, 0, 0.6);
    border: 0.1em solid black;
    filter: drop-shadow(15px 15px white);
    
    /* defined here so that em works for children */
    font-size: 20px;

    display: flex;
    flex-direction: column;
}

#errordiv::after {
    content: "";
    position: absolute;
    inset: 0;
    background: transparent;
    filter: drop-shadow(15px 15px white);
    pointer-events: none;
}

#errordiv h3, #errordiv p {
    filter: drop-shadow(2px 2px white);
}

#errordiv h3 {
    font-family: 'Handjet', monospace;
    font-weight: 600;
    font-size: 1.5em;
    flex-grow: 1;
    text-align: center;
}

#errordiv p {
    font-family: 'Handjet', monospace;
    font-weight: 300;
    font-size: 0.75em;
    text-align: center;
    justify-self: center;
    flex-grow: 2;
}

#errordiv div {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#errordiv div button {
    font-family: 'Handjet', monospace;
    font-weight: 500;
    font-size: 1em;
    text-align: center;
    padding: 15px;
    width: fit-content;
    border: 1px solid white;
    background: rgba(200, 0, 0, 0.8);
}

#shutdownOverlay {
    /* todo: apply filters and masks to make this overlay prettier */
    opacity: 50%;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    z-index: 1000000;
}

#shutdownOverlay p {
    color: white;
    font-family: monospace;
    opacity: 0%;
    transition: opacity 500ms;
}

#shutdownOverlay p.activated {
    opacity: 100%;
}

#shutdownOverlay.activated {
    height: 100%;
    opacity: 100%;
    transition: height 4s, opacity 4s;
}

/* toolbar and related components' styles */

#toolbar {
    background: linear-gradient(0deg, rgb(46, 46, 46), rgb(118, 107, 107), rgb(113, 112, 112));
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 6vh;
    display: flex;
}

#eyebutton {
    justify-self: flex-start;
    width: 128px;
    height: 100%;
    aspect-ratio: 1/1;
    /* trying out CSS anchor, what the hell is this arcane bullshit */
    @supports (anchor-name: --x) {
        anchor-name: --eyebutton;
    }
}

#eyedialog {
    background: rgb(118, 107, 107);
    position: fixed;
    inset: auto; 
    bottom: 5%;
    left: 5%;
    @supports (anchor-name: --x) {
        position-anchor: --eyebutton;
        bottom: anchor(top);
        left: anchor(right);
    }
    width: fit-content;
}

#eyedialog p {
    color: white;
    width: fit-content;
    padding: 0.5em 0.75em;
}

#tabcontainer {
    flex: 1 1 auto;
    flex-direction: row;
    align-items: center;
    max-height: 100%;
}

#tabcontainer .tab {
    display: inline-flex;
    background: var(--tab-normal);
    border: 1px solid black;
    border-radius: 3%;
    height: 90%;
    margin: 6px 6px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: fit-content;
    padding-inline: 12.5px;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    justify-content: stretch;
    flex-wrap: nowrap;

    font-family: W95, monospace;
}

#tabcontainer .tab.minimized {
    background: var(--tab-minimized);
}

#tabcontainer .tab.active {
    background: var(--tab-active);
}

#tabcontainer .tab.active .img {
    filter: invert();
}

#tabcontainer .tab img {
    display: inline;
    aspect-ratio: 1 / 1;
    width: 25px;
    height: 25px;
}

/* windows and related styling! */

.window {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background: linear-gradient(0deg, rgba(64, 57, 57, 1) 0%, rgba(255, 255, 255, 1) 36%, rgba(189, 175, 175, 1) 64%, rgba(64, 57, 57, 1) 100%);   
    resize: both;
    overflow: hidden;
}
.windowBar {
    display: flex;
    flex-direction: row;
    height: 10%;
    justify-content: flex-end;
    align-items: center;
    background: rgb(70, 70, 70);
    position: relative;
    touch-action: none;
}

.windowTitle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'W95FA Regular', monospace;
    background: none;
    color: black;
    text-overflow: ellipsis;
}

.windowBar .windowButton {
    padding: 1%;
    background: rgba(255, 255, 255, 0.8);
    border: solid 1px black;
    border-radius: 15%;
    cursor: pointer;
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
    font-size: 1.2em;
    align-content: center;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    max-height: min-content;
}

.windowBar .minButton {
    font-family: monospace;
    height: 80%;
}

.windowBar .closeButton {
    font-family: monospace;
    height: 80%;
    margin-left: 2%;
}

.windowBar .maxButton {
    font-family: monospace;
    height: 80%;
    margin-left: 2%;
}

/* the body of the window below the top bar, holds the iframe */
.windowBody {
    width: 100%;
    flex: 1 1 auto;
    min-height: 0;
    display: flex; /* make it a flex container so it sizes the iframe correctly! */ 
    align-items: stretch;
}

.windowBody iframe {
    border: none;
    /* make sure it fills its whole parent div! */
    width: 100%;
}

/* desktop and its grid */

#desktop {
    height: calc(100% - 6vh);
}

#desktop-grid {
    display: grid;
    height: 100%;
    gap: 2%;
    /* 8x4 grid should accommodate all our applications */
    /* changed so that the columns are determined by javascript! */
    row-gap: 1ch;
    column-gap: 1ch;
}

.desktopTile {
    display: flex;
    flex-direction: column;
    align-content: center; /* gotta remember that column flips justify and align */
    justify-content: center;
    /* position in the grid is computed by DesktopManager in os.js */
    transition: all 0.2s;
    touch-action: manipulation;
}

.desktopTile.active {
    background: rgba(100, 100, 100, 0.5);
    filter: invert();
}

/* hasn't been used yet!
.tile-img {

}
*/

.tile-text {
    width: fit-content;
    align-self: center;
    font-style: italic;
    color: white;
    background-color: rgba(0,0,0, 0.5);
    font-family: monospace;
    font-size: 1.25em;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: black;

    }
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1440px) {
    #errordiv {
        font-size: 30px !important;
    }
}

@media only screen and (min-width: 1920px) {
    #errordiv {
        font-size: 60px !important;
    }
}